<footer class="footer sticky-footer text-center py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="color: black;">
                <p>&copy; 2024 My Restaurant. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color: black;">
                <p>Contact us: email@example.com | Phone: +123456789</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Newsletter signup form -->
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>